<div id="sidebar">
<div class="accordion" id="accordionPanelsStayOpenExample">
  <div class="accordion-item">
    <h2 class="accordion-header" id="panelsStayOpen-headingOne">
      <button
        class="accordion-button"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#panelsStayOpen-collapseOne"
        aria-expanded="true"
        aria-controls="panelsStayOpen-collapseOne"
      >
        Master
      </button>
    </h2>
    <div
      id="panelsStayOpen-collapseOne"
      class="accordion-collapse collapse"
      aria-labelledby="panelsStayOpen-headingOne"
    >
      <div class="accordion-body">
        <a href="/customer"><strong>+ADD Customer</strong></a>
      </div>
      <div class="accordion-body">
        <a href="/product"><strong>+ Add Product</strong> </a>
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
      <button
        class="accordion-button collapsed"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#panelsStayOpen-collapseTwo"
        aria-expanded="false"
        aria-controls="panelsStayOpen-collapseTwo"
      >
        Inward
      </button>
    </h2>
    <div
      id="panelsStayOpen-collapseTwo"
      class="accordion-collapse collapse"
      aria-labelledby="panelsStayOpen-headingTwo"
    >
      <div class="accordion-body">
        <a href=""><strong>Purchase Entry</strong> </a>
      </div>
      <div class="accordion-body">
        <a href=""><strong>Edit Purchase</strong> </a>
      </div>
      <div class="accordion-body">
        <a href=""><strong>Payment</strong> </a>
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="panelsStayOpen-headingThree">
      <button
        class="accordion-button collapsed"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#panelsStayOpen-collapseThree"
        aria-expanded="false"
        aria-controls="panelsStayOpen-collapseThree"
      >
        Sales
      </button>
    </h2>
    <div
      id="panelsStayOpen-collapseThree"
      class="accordion-collapse collapse"
      aria-labelledby="panelsStayOpen-headingThree"
    >
      <div class="accordion-body">
        <a href="/sale"><strong>Sale Invoice</strong> </a>
      </div>
      <div class="accordion-body">
        <a href="/salereport"><strong>Edit Sale</strong> </a>
      </div>
      <div class="accordion-body">
        <a href="/receivedlist"><strong>Received</strong> </a>
      </div>
    </div>
    
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="panelsStayOpen-headingFour">
      <button
        class="accordion-button collapsed"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#panelsStayOpen-collapseFour"
        aria-expanded="false"
        aria-controls="panelsStayOpen-collapseFour"
      >
        Reports
      </button>
    </h2>
    <div
      id="panelsStayOpen-collapseFour"
      class="accordion-collapse collapse"
      aria-labelledby="panelsStayOpen-headingThree"
    >
      <div class="accordion-body">
        <a href="/customerlist"><strong>Customer Reports</strong> </a>
      </div>
      <div class="accordion-body">
        <a href="/productlist"><strong>Product Reports</strong> </a>
      </div>
      <div class="accordion-body">
        <a href="/salereport"><strong>Sale Reports</strong> </a>
      </div>
    </div>
    
  </div>
</div>
</div>